{
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "importOrder": ["^[^\\.](.*)$", "^\\.(.*)$"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
